<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44505885939-v9e9dstqn0el740l5kcugj8r0v0civj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44505885939-v9e9dstqn0el740l5kcugj8r0v0civj0</string>
	<key>API_KEY</key>
	<string>AIzaSyDv0epI5oy5GOM6FEuRVEs-C7pFrr-0C2M</string>
	<key>GCM_SENDER_ID</key>
	<string>44505885939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mugellisoftware.cantapp</string>
	<key>PROJECT_ID</key>
	<string>mgc-cantapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mgc-cantapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44505885939:ios:a0526491ba8d359a7ddb86</string>
	<key>DATABASE_URL</key>
	<string>https://mgc-cantapp.firebaseio.com</string>
</dict>
</plist>